@{
    ViewData["Title"] = "Devolução | Gestão Jogos";
}

<h3 class="title-page">Devoluções</h3>

<div class="row">
    <a id="btnAbrirModalAddDevolucao" class="btn waves-effect waves-light blue right tooltipped" data-position="top" data-tooltip="Nova">
        <i class="material-icons">add</i>
    </a>
</div>
<div class="row">
    <table id="tblDevolucoes" class="striped highlight">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Jogo</th>
                <th>Devolução</th>
                <th>Avaliação</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

<div id="modalAddDevolucao" class="modal">
    <div class="modal-content">
        <div class="row">
            <div id="divFrmDevolucao" class="col s12"></div>
        </div>
    </div>
    <div class="modal-footer">
        <a id="btnAddDevolucao" href="#" class="modal-action modal-close waves-effect waves-green btn-flat">Salvar</a>
    </div>
</div>

<script> var webroot = "@Url.Content("~/")"; </script>
<script src="~/js/views/devolucao.js"></script>