<ul id="slide-out" class="side-nav">
    <li>
        <div class="user-view">
            <div class="background">
                <h5 class="logo-wrapper title-menu-left"><a href="~/home" class="brand-logo darken-1">Gestão Jogos</a></h5>
            </div>
        </div>
    </li>
    <li><a id="menu-amigos" class="cursor-poiter"><i class="material-icons">people</i>Amigos</a></li>
    <li><a id="menu-jogos" class="cursor-poiter"><i class="material-icons">videogame_asset</i>Jogos</a></li>
    <li><a id="menu-emprestimos" class="cursor-poiter"><i class="material-icons">subdirectory_arrow_right</i>Empréstimos</a></li>
    <li><a id="menu-devolucoes" class="cursor-poiter"><i class="material-icons">subdirectory_arrow_left</i>Devoluções</a></li>
    <li><a id="menu-logoff" class="cursor-poiter hide-on-large-only"><i class="material-icons">exit_to_app</i>Sair</a></li>
</ul>
<a id="menu-left" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>